body {
  font-family: sans-serif;
  background: lightgray;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 1rem;
  background: white;
  border-radius: 6px;
}

nav {
  background: lightgray;
  padding: 0.3rem 0.7rem;
  border-radius: 4px;
}

nav a {
  margin: 0.5rem;
  color: black;
  text-decoration: none;
}

main {

  max-width: 1000px;
  margin: 1rem auto;
}

section {
  background: white;
  border-radius: 6px;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1.2rem;
  background: black;
  color: white;
  border: none;
  border-radius: 4px;
}

input, textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 4px;
}

footer {
  text-align: center;
  color: gray;
  font-size: 1rem;
  max-width: 1000px;
  margin: 1rem auto;
}

@media (max-width: 800px) {
  header {
    flex-direction: column;
  }
}
